<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/side_nav' %>
    </div>
    <div class="col-md-9 right-contents">
      <h2><%= @shop.name %> の詳細</h2>
        <div class="form-group shop-img">
          <% if @shop.image.present? %>
            <%= image_tag @shop.image.url, class: "img-thumbnail" %>
          <% else %>
            <%= image_tag 'store.jpg', alt: 'デフォルト画像', class: "img-thumbnail" %>
          <% end %>
        </div>
        <div class="form-group">
          <strong>おみせの説明</strong><br>
          <%= @shop.description %>
        </div>

        
          
        <!-- イベント一覧を表示 -->
        <div class="container">
          <div class="right-contents">
            <h2><%= @shop.name %> のイベント一覧</h2>
              <% if @events.any? %>
                <ul class="list-group">
                  <% @events.each do |event| %>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-6">
                          <strong>開始日時:</strong> <%= event.opened_at %><br>
                          <strong>終了日時:</strong> <%= event.closed_at %><br>
                        </div>
                        <div class="col-md-6">
                          <strong>場所:</strong> <%= event.location.name %><br>
                          <strong>住所:</strong> <%= event.address %><br>
                          <%= link_to 'イベント詳細', "#", class: 'btn btn-info' %>
                    
                        </div>
                      </div>
                    <% end %>
                </ul>
              <% else %>
                <p>イベントは登録されていません</p>
              <% end %>
            </div>
         
        </div>

       <div class="row">
        <div class="col-md-9 right-contents">
          <!-- ここにイベント一覧を表示するコードを追加 -->
        </div>
      </div>
    </div>
  </div>
  <center>
    <%= link_to '戻る', root_path, class: 'btn btn-secondary' %>
  </center>
</div>
