<h2><%= @shop.name %> のダッシュボード</h2>
 <%= form_for @shop, url: shop_path(@shop), method: :patch do |f| %>
  <p><strong>おみせのなまえ:</strong> <%= f.text_field :name %></p>
  <p><strong>おみせの説明:</strong> <%= f.text_area :description %></p>
  <p><strong>おみせのアイコン:</strong></p>
  <div class="shop-img">
    <% if @shop.image.present? %>
      <%= image_tag @shop.image.url, class: "shop-img" %>
    <% else %>
      <%= image_tag 'store.jpg', alt: 'デフォルト画像', class: "shop-img" %>
    <% end %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit '変更' %>
 <% end %>
<%= link_to '戻る', user_dashboard_path %>