<div class="container">
  <%= render 'shared/side_nav' %>
  <div class="right-contents">
    <center>
     <h2><%= current_user.email %> さんのおみせ一覧</h2>
     <h3><%= link_to '＋新しいおみせを追加する', user_shop_new_user_path(current_user), class: 'btn btn-primary' %></h3>
 
     <% if @shops.any? %>
       <ul class="list-group shop-list">
         <% @shops.each do |shop| %>
           <li class="list-group-item">
             <div class="row">
               <div class="col-md-3">
                 <% if shop.image.present? %>
                   <%= image_tag shop.image.url, class: "shop-img img-thumbnail" %>
                 <% else %>
                   <%= image_tag 'store.jpg', alt: 'デフォルト画像', class: "shop-img img-thumbnail" %>
                 <% end %>
               </div>
               <div class="col-md-9">
                 <h3><%= link_to shop.name, shop_path(shop) %></h3>
               </div>
             </div>
           </li>
         <% end %>
       </ul>
     <% else %>
       <p>おみせは登録されていません</p>
     <% end %>
     
     <h2><%= current_user.email %> さんのメニュー一覧</h2>
     <h3><%= link_to '＋新しいメニューを追加する', new_item_path, class: 'btn btn-primary' %></h3>
     <% if @items.any? %>
      <ul class="list-group">
        <% @items.each do |item| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <h4><%= item.name %></h4>
                <p><strong>説明:</strong> <%= item.description %></p>
                <p><strong>価格:</strong> <%= item.price %> 円</p>
                <!-- 他のアイテムの情報を表示 -->
              </div>
              <div class="col-md-6">
                <% if item.image.present? %>
                  <%= image_tag item.image.url, class: "item-img img-thumbnail" %>
                <% else %>
                  <%= image_tag 'menu.jpg', alt: 'デフォルト画像', class: "item-img img-thumbnail" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>メニューはまだ登録されていません</p>
    <% end %><!-- メニュー一覧を表示 -->
  
    </div>
  </div>
  
 
     <%= link_to '戻る', user_dashboard_path %>
   </center>
 </div>
</div>
