<div class="side-nav">
  <span class="login-links">
    <ul>
      <% if user_signed_in? %>
        <% if current_user.has_role?(:vendor) %>
          <!-- 出店者＝roles:vendor用の side_nav -->
          <li><%= link_to 'おみせ一覧', user_dashboard_path(current_user) %></li>
          <li><%= link_to 'TOPページ', "#" %></li>
          <li>
            <%= form_tag destroy_user_session_path, method: :delete do %>
              <%= submit_tag 'ログアウト' %>
            <% end %>
          </li>
        <% else %>  
          <!-- 一般ユーザー＝roles:nilの side_nav -->
          <li><%= link_to 'マイページ', user_profile_path(current_user) %></li>
          <li>
            <%= form_tag destroy_user_session_path, method: :delete do %>
              <%= submit_tag 'ログアウト' %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <!-- 未ログインユーザー用の side_nav -->
        <li><%= link_to 'ユーザーアカウント作成', "#" %></li>
        <li><%= link_to 'ユーザーログイン', "#" %></li>
        <li><%= link_to '出店者ログイン', "#" %></li>
        <li><%= link_to '新規出店希望者はこちら', '#' %></li>
        <li><%= link_to '管理者限定ログイン', rails_admin_path %></li>
      <% end %>
    </ul>
  </span>
</div>
