<div class="container">
  <%= render 'shared/side_nav' %>
            
  <div class="right-contents">         
    <div class="row">
      <div class="col-md-6">
        <!-- 検索バー1 -->
        <div class="input-group mb-3">
          <%= select_tag 'location', options_for_select(@locations.map { |location| [location.name, location.id] }), class: 'form-control', prompt: 'キャンパスで絞り込む' %>
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">検索</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- 検索バー2 -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="datepicker" placeholder="日付で絞り込む">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">検索</button>
          </div>
        </div>
      </div>
      
      
      
    </div>
    <% if @events.any? %>
      <ul class="list-group">
        <% @events.each do |event| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <strong>開始日時:</strong> <%= event.opened_at %><br>
                <strong>終了日時:</strong> <%= event.closed_at %><br>
              </div>
              <div class="col-md-6">
                <strong>場所:</strong> <%= event.location_id %><br>
                <strong>住所:</strong> <%= event.address %><br>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>イベントは登録されていません</p>
    <% end %>
  </div>
  
  
  
</div>

<script>
  flatpickr("#datepicker", {
    mode: "range", // 日付の範囲を選択
    // カレンダーのオプションをここに追加
  });
</script>