<div class="container">
  <%= render 'shared/side_nav' %>
            
  <div class="right-contents">         
    <div class="row">
      <div class="col-md-6">
        <!-- 検索バー1 -->
        <div class="input-group mb-3">
          <%= select_tag 'location', options_for_select(@locations.map { |location| [location.name, location.id] }), class: 'form-control', prompt: 'キャンパスで絞り込む' %>
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">検索</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- 検索バー2 -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="datepicker" placeholder="日付で絞り込む">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">検索</button>
          </div>
        </div>
      </div>
      
      
      
    </div>
    <% if @events.any? %>
      <ul class="list-group">
        <% @events.each do |event| %>
          <li class="list-group-item">

  <div class="card-body-home">
    <p><strong> <%= event.shop.name %></p> </strong>
    <p><strong>  <%= event.location %></p> </strong>
    <p><strong> <%= l event.opened_at %> ～ <%= l event.closed_at %></p></strong>

    <% if event.shop.image.present? %>
      <div class="shop-image-home">
        <%= image_tag event.shop.image.url, class: "img-thumbnail-home" %>
      </div>
    <% else %>
      <div class="shop-image-home">
        <%= image_tag 'store.jpg', alt: 'デフォルト画像', class: "img-thumbnail-home" %>
    <% end %>

  </div>
</li>
        <% end %>
      </ul>
    <% else %>
      <p>イベントは登録されていません</p>
    <% end %>
  </div>
  
  
  
</div>

<script>
  flatpickr("#datepicker", {
    mode: "range", // 日付の範囲を選択
    // カレンダーのオプションをここに追加
  });
</script>