<div class="container">
  <%= render 'shared/side_nav' %>
  <div class="right-contents">
    <div class="row">
      <div class="col-md-6">
        <!-- 検索バー1 -->
        <div class="input-group mb-3">
          <%= form_tag search_by_location_path, method: :get do %>
            <%= select_tag 'location', options_for_select(@locations.map { |location| [location.name, location.id] }), class: 'form-control', prompt: 'キャンパスで絞り込む' %>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">検索</button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <!-- 検索バー2 -->
        <%= form_tag(root_path, method: :get) do %>
          <div class="input-group mb-3">
            <%= select_tag 'event_date', options_for_select(@event_dates.map { |date| [date] }), class: 'form-control', prompt: '日付で絞り込む' %>
            <div class="input-group-append">
              <%= submit_tag '検索', class: 'btn btn-primary', type: 'submit' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <% if @events.any? %>
      <!-- イベントリストの表示 -->
      <ul>
        <% @events.each do |event| %>
          <li>
            <div class="col-md-6">
              <%= link_to shop_event_path(event.shop, event) do %>
                <div class="card-body-home" style="background-image: url('<%= event.shop.image.url %>');">
                  <div class ="card-information" >
                    <p><strong><%= event.opened_at %></strong></p>
                    <p><strong><%= event.shop.name %></strong></p>
                    <p><strong><%= event.location.name %></strong></p>
                  </div>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>イベントは登録されていません</p>
    <% end %>
  </div>
</div>
