<div class="container">
  <%= render 'shared/side_nav' %>
  <div class="right-contents">
    <div class="row">
      <div class="col-md-6">
        <!-- 検索バー1 -->
        <div class="input-group mb-3">
          <%= select_tag 'location', options_for_select(@locations.map { |location| [location.name, location.id] }), class: 'form-control', prompt: 'キャンパスで絞り込む' %>
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">検索</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- 検索バー2 -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="datepicker" placeholder="日付で絞り込む">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">検索</button>
          </div>
        </div>
      </div>
    </div>

    <% if @events.any? %>
      <ul class="list-group">
        <% @events.each do |event| %>
          <li class="list-group-item">
            <%= link_to shop_event_path(event.shop, event) do %>
              <div class="card-body-home">
                <% if event.opened_at.present? && event.closed_at.present? %>
                  <p><strong><%= event.shop.name %></strong></p>
                  <p><strong><%= event.location.name %></strong></p>
                  <p><strong><%= l event.opened_at %> ～ <%= l event.closed_at %></strong></p>
                  <% if event.shop.image.present? %>
                    <div class="shop-image-home">
                      <%= image_tag event.shop.image.url, class: "img-thumbnail-home" %>
                    </div>
                  <% else %>
                    <div class="shop-image-home">
                      <%= image_tag 'store.jpg', alt: 'デフォルト画像', class: "img-thumbnail-home" %>
                    </div>
                  <% end %>
                <% else %>
                  <!-- ここに条件に応じた処理を追加 -->
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>イベントは登録されていません</p>
    <% end %>
      <h4>このサービスに登録しているおみせ一覧</h4>
          <div class="row">
            <% @shops.each do |shop| %>
              <div class="col-md-3">
                <div class="shop-image-home">
                  <% if shop.image.present? %>
                    <%= link_to shops_profile_path(id: shop.id) do %>
                      <%= image_tag shop.image.url, class: "img-thumbnail-home" %>
                    <% end %>
                  <% else %>
                    <%= link_to shops_profile_path(id: shop.id) do %>
                      <%= image_tag 'store.jpg', alt: 'デフォルト画像', class: "img-thumbnail-home" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %> <!-- この行を追加 -->
          </div>
          
  </div>
</div>

<script>
  flatpickr("#datepicker", {
    mode: "range", // 日付の範囲を選択
    // カレンダーのオプションをここに追加
  });
</script>
