<div class="container">
  <%= render 'shared/side_nav' %>
  <h2>新規イベント登録</h2>

  <%= form_with(model: @event, url: shop_events_path(current_user), method: :post) do |form| %>
    <%= form.label :opened_at_date %>
    <%= form.date_field :opened_at_date, format: '%Y-%m-%d' %>
    <%= form.label :opened_at_time %>
    <%= form.time_field :opened_at_time %>
    
    <%= form.label :closed_at_date %>
    <%= form.date_field :closed_at_date, format: '%Y-%m-%d' %>
    <%= form.label :closed_at_time %>
    <%= form.time_field :closed_at_time %>

    <%= form.label :location_id %>
    <%= select_tag 'location_id', options_for_select(@locations.map { |location| [location.name, location.id] }), class: 'form-control', prompt: '出店するキャンパスを選ぶ' %>

    <%= form.label :address %>
    <%= form.text_area :address %>

    <%= form.label :shop_id, 'Shop' %>
    <%= form.collection_select :shop_id, Shop.all, :id, :name %>

    <%= form.submit '登録する' %>
  <% end %>
</div>
