<div class="container">
  <%= render 'shared/side_nav' %>
  <div class="right-contents"> 
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <% if @event.opened_at.present? %>
              <h2><%= @event.shop.name %>の<%= I18n.l(@event.opened_at, format: :long) %>のイベント</h2>
            <% else %>
              <h2><%= @event.shop.name %>のイベント</h2>
            <% end %>
            
          </div>
          <div class="card-body">
            <p><strong>キャンパス:</strong> <%= @event.location.name %></p>
            <p><strong>場所:</strong> <%= @event.address %></p>
            <p><strong>営業日:</strong> <%= I18n.l(@event.opened_at.to_date, format: :long) %></p>
            <p><strong>営業時間:</strong><%= @event.opened_at.strftime('%-H時%M分') %> ～ <%= @event.closed_at.strftime('%-H時%M分') %></p>

            <p><strong>おみせのせつめい:</strong> <%= @event.shop.description %></p>
            <p><strong>提供予定メニュー:</strong></p>
            <div class="card-deck">
              <% @event_items.each do |item| %>
                <div class="card">
                  <% if item.image.present? %>
                    <%= link_to(image_tag(item.image.url, class: "card-img-top"), item_path(item, user_id: current_user)) %>
                  <% else %>
                    <%= link_to(image_tag('menu.jpg', alt: 'デフォルト画像', class: "card-img-top"), item_path(item, user_id: current_user)) %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <% if item.price.present? %>
                      <p class="card-text">価格: <%= item.price %>円</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          
          <div class="card-footer">
            <%= link_to '戻る', class: 'btn btn-secondary' do %>
              <% if current_user.present? %>
                <% if current_user.has_role?(:vendor) %>
                  <%= link_to 'ダッシュボードへ戻る', user_dashboard_path %>
                <% else %>
                  <%= link_to 'TOPページへ戻る', root_path %>
                <% end %>
              <% else %>
                <%= link_to 'TOPページへ戻る', root_path %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
