<div class="container">
  <%= render 'shared/side_nav' %>
  <div class="right-contents"> 
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2><%= @event.shop.name %>の<%= I18n.l(@event.opened_at, format: :long) %>のイベント</h2>
            
            
            
          </div>
          <div class="card-body">
            <p><strong>キャンパス:</strong> <%= @event.location.name %></p>
            <p><strong>場所:</strong> <%= @event.address %></p>
            <p><strong>開店時間:</strong> <%= @event.opened_at.strftime('%-H時%M分') %></p>
            <p><strong>閉店時間:</strong> <%= @event.closed_at.strftime('%-H時%M分') %></p>
            <p><strong>おみせのせつめい:</strong> <%= @event.shop.description %></p>
            <p><strong>提供されるメニュー:</strong></p>
            <ul>
              <% @event_items.each do |item| %>
                <li>
                  <%= link_to item.name, item_path(item, user_id: current_user) %>
                </li>
                <% if item.image.present? %>
                  <div class="item-image">
                    <%= link_to(image_tag(item.image.url, class: "img-thumbnail"), item_path(item, user_id: current_user)) %>
                  </div>
                <% else %>
                  <div class="item-image">
                    <%= link_to(image_tag('menu.jpg', alt: 'デフォルト画像', class: "img-thumbnail"), item_path(item, user_id: current_user)) %>
                  </div>
                <% end %>
              <% end %>
            </ul>
          </div>
          
          <div class="card-footer">
            <%= link_to '戻る', class: 'btn btn-secondary' do %>
              <% if current_user.present? %>
                <% if current_user.has_role?(:vendor) %>
                  <%= link_to 'ダッシュボード', user_dashboard_path %>
                <% else %>
                  <%= link_to 'TOPページへ戻る', root_path %>
                <% end %>
              <% else %>
                <%= link_to 'TOPページへ戻る', root_path %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
