<div class="container">
  <div class="right-contents">
    <h2><%= @shop.name %> のメニュー一覧</h2>
    <h3><%= link_to '＋新しいメニューを追加する', new_shop_item_path(@shop), class: 'btn btn-primary' %></h3>

    <% if @items.any? %>
      <ul class="list-group">
        <% @items.each do |item| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6">
                <h4><%= item.name %></h4>
                <p><strong>説明:</strong> <%= item.description %></p>
                <p><strong>価格:</strong> <%= item.price %> 円</p>
                <!-- 他のアイテムの情報を表示 -->
              </div>
              <div class="col-md-6">
                <!-- ここにアイテムの画像を表示するコードを追加 -->
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>メニューはまだ登録されていません</p>
    <% end %>
  </div>
</div>
